{% block filefield_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set data_attr = data_attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <div class="filefield-widget">
        <div class="filefield-errors alert alert-danger" style="display: none;">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
            <strong><span class="filefield-error"></span></strong>
        </div>
        {% if multiple %}
            {{ block('filefield_multiple') }}
        {% else %}
            {{ block('filefield_single') }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}

{% block filefield_multiple %}
{% spaceless %}
    <table role="presentation" class="table table-striped table-hover">
        <tbody class="filefield-files">
            {% if value %}
                {{ block('form_widget') }}
            {% endif %}
        </tbody>
    </table>
    {{ block('filefield_addbtn') }}
{% endspaceless %}
{% endblock %}

{% block filefield_single %}
{% spaceless %}
    <div id="filefield-files-{{ form.vars.name }}" class="filefield-files">
        {% if value %}
            {{ block('form_widget') }}
        {% endif %}
    </div>
    {{ block('filefield_addbtn') }}
{% endspaceless %}
{% endblock %}

{% block filefield_addbtn %}
{% spaceless %}
    <div class="filefield-upload btn btn-sm btn-primary fileinput-button"{{ block('filefield_widget_data_attributes') }}>
        <span class="glyphicon glyphicon-plus"></span>
        <span> Add file</span>
        <input type="file" name="{{ form.vars.id }}"{{ multiple ? ' multiple' : '' }}>
    </div>
{% endspaceless %}
{% endblock %}

{% block filefield_simple_widget %}
{% spaceless %}
    {% if file.name|default(null) or is_prototype %}
        {% if multiple %}
            {{ block('filefield_simple_multiple') }}
        {% else %}
            {{ block('filefield_simple_single') }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block filefield_simple_multiple %}
{% spaceless %}
    <tr class="filefield-file filefield-fileinfo">
        {% if preview_type %}
            <td>
                {{ block('filefield_preview_' ~ preview_type) }}
            </td>
        {% endif %}
        <td>
            <img src="{{ form.vars.is_prototype ? '' : file.iconUri|default('') }}" class="filefield-fileicon" alt="file icon">&nbsp;
            <a href="{{ form.vars.is_prototype ? '' : file.uri|default('') }}" class="filefield-filename" target="_blank">{{ form.vars.is_prototype ? '' : file.name|default('')|trim(40) }}</a>
            {{ block('form_widget') }}
        </td>
        <td class="filefield-filesize">{{ form.vars.is_prototype ? '' : file.size|default('') }}</td>
        <td>
            <button type="button" class="btn btn-xs btn-danger filefield-remove">
                <span class="glyphicon glyphicon-remove" title="Remove"></span> Remove
            </button>
        </td>
    </tr>
{% endspaceless %}
{% endblock %}

{% block filefield_simple_single %}
{% spaceless %}
    <div class="filefield-file clearfix">
        <div class="filefield-fileinfo">
            {% if preview_type %}
                {{ block('filefield_preview_' ~ preview_type) }}
            {% endif %}
            <img src="{{ form.vars.is_prototype ? '' : file.iconUri|default('') }}" class="filefield-fileicon" alt="file icon">&nbsp;
            <a href="{{ file.uri|default('') }}" class="filefield-filename" target="_blank">{{ form.vars.is_prototype ? '' : file.name|default('')|trim(40) }}</a>&nbsp;
            (<span class="filefield-filesize">{{ form.vars.is_prototype ? '' : file.size|default('') }}</span>)&nbsp;
            {{ block('form_widget') }}
            <button type="button" class="btn btn-xs btn-danger filefield-remove">
                <span class="glyphicon glyphicon-remove" title="Remove"></span> Remove
            </button>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{%- block filefield_widget_data_attributes -%}
    {%- for attrname, attrvalue in data_attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endblock -%}
